<ng-fast-knob #knob [(value)]="value" [startAngle]="startAngle" [endAngle]="endAngle" [numTicks]="numTicks"></ng-fast-knob>
<fast-design-system-provider use-defaults>
    <fast-card>
        <fast-slider min="0" max="360" step="1" value="0" #fastSlider></fast-slider>
    </fast-card>
</fast-design-system-provider>
<label for="valueX">Value:</label>
<input #valueInput type="text" id="valueX" [ngModel]="value" (keyup.enter)="updateValue(valueInput.value)" (blur)="updateValue(valueInput.value)">
<label for="startAngleX">Start Angle:</label>
<input #startAngleInput type="text" id="startAngleX" [ngModel]="startAngle" (keyup.enter)="updateStartAngle(startAngleInput.value)" (blur)="updateStartAngle(startAngleInput.value)">
<label for="endAngleX">End Angle:</label>
<input #endAngleInput type="text" id="endAngleX" [ngModel]="endAngle" (keyup.enter)="updateEndAngle(endAngleInput.value)" (blur)="updateEndAngle(endAngleInput.value)">
<label for="numTicksX">Num Ticks:</label>
<input #numTicksInput type="text" id="numTicksX" [ngModel]="numTicks" (keyup.enter)="updateNumTicks(numTicksInput.value)" (blur)="updateNumTicks(numTicksInput.value)">